html{
    background: aqua;
}
h1{
    background: blueviolet;
}

.red-text{
    color:red
}

.green-text{
    color:green
}

#suji{
    color: chocolate
}

p[draggable = "true"]{
    color : gold;
}

p[draggable = "false"]{
    color: orangered;
}

h2{
    color: #C58940;
    display: inline-block;
    height: 200px;
    font-size:200px;
}
